DISCORD_BOT_CLIENT_ID=
DISCORD_BOT_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

DISCORD_GUILD_ID=
DISCORD_MODERATION_ROLE_ID=

# See `https://bun.com/docs/runtime/sql` for more information
DATABASE_ACCESS_URL=mysql://cat:meow@localhost:3306/main